* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* mobile-firsrt design! */

.navbar {
  font-size: 1.2em;
  /* height: 50px; */
  background: linear-gradient(
    270deg,
    rgba(104, 255, 130, 1) 0%,
    rgba(77, 188, 218, 1) 50%,
    rgba(0, 7, 86, 1) 100%
  );
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.active {
  display: block;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
  font-size: 24px;
}

main {
  flex: 1 0 auto;
  margin-bottom: -10px;
}

header {
  padding: 30px;
  background-image: url("./hexabump.png");
  height: 60vh;
}

.terminal-box {
  display: block;
  margin: auto;
  max-width: 530px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 20px 70px;
  clear: both;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.title-bar {
  padding: 5px 0;
  font-family: "Lucida Grande", sans-serif;
  font-size: 0.75em;
  text-align: center;
  /* text-shadow: rgba(94, 94, 94, 0.8) 0px 1px 0px; */
  /* background-color: #f8f8f8; */
  background-image: -webkit-linear-gradient(top, #e8e8e8, #6f6f6fcd);
  background-image: -moz-linear-gradient(top, #e8e8e8, #6f6f6fcd);
  background-image: linear-gradient(top, #e8e8e8, #6f6f6fcd);
  box-shadow: inset rgba(255, 255, 255, 0.7) 0px 1px 1px;
  border-bottom: #6a6a6a 1px solid;
}

.text-body {
  height: 250px;
  background-color: rgba(0, 0, 0, 0.65);
  padding: 10px;
  color: #00ff41;
  text-shadow: #000 0px 1px 0px;
  font-family: "Consolas", "Courier New", "Courier";
  font-size: 1.25em;
  line-height: 1.2em;
  font-weight: 500;
  text-align: left;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.about-container {
  margin: auto;
  border: 1px solid black;
  /* height: 50vh; */
}

.about-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  padding: 20px;
  background: linear-gradient(
    270deg,
    rgba(104, 255, 130, 1) 0%,
    rgba(77, 188, 218, 1) 50%,
    rgba(0, 7, 86, 1) 100%
  );
}

.about-col {
  flex: 6;
  padding: 2%;
  justify-content: center;
  border: 2px solid white;
}

#about-right {
  color: rgba(255, 255, 255, 0.7);
  width: 100%;
}

#main-about-img {
  margin: auto;
  width: 80vw;
}

/* .about-right {
  display: flex;
  flex: 3;
  background: linear-gradient(
    270deg,
    rgba(104, 255, 130, 1) 0%,
    rgba(77, 188, 218, 1) 50%,
    rgba(0, 7, 86, 1) 100%
  );
} */

footer {
  /* flex-shrink: 0; */
  margin-top: 15px;
  padding: 10px;
  color: rgba(255, 255, 255, 0.7);
  background: linear-gradient(
    270deg,
    rgba(104, 255, 130, 1) 0%,
    rgba(77, 188, 218, 1) 50%,
    rgba(0, 7, 86, 1) 100%
  );
}

.footer-left {
  text-align: center;
}

.footer-links {
  /* text-decoration: none; */
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.7);
}

.footer-links:hover {
  color: rgba(255, 255, 255, 1);
}

.footer-center {
  text-align: center;
}

.visitor-note {
  display: none;
}

.footer-right {
  text-align: center;
  padding: 5px;
  text-decoration: none;
}

.social-nav i {
  color: rgba(255, 255, 255, 0.7);
  font-size: 24px;
}

.social-nav i:hover {
  color: rgba(255, 255, 255, 1);
}

/* destop size CSS */

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }

  .about-col {
    flex: 3;
  }

  #main-about-img {
    margin: auto;
    max-width: 50vw;
  }

  footer {
    display: inline-flex;
  }

  .footer-left {
    width: 33%;
    margin: 5px;
  }

  .footer-center {
    width: 34%;
  }

  .visitor-note {
    display: block;
    font-size: 0.8rem;
    font-style: italic;
  }

  .footer-right {
    width: 33%;
  }
}
